In [16]:
import gensim
from gensim.models import word2vec ,keyedvectors
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [7]:
word_vectors = keyedvectors.KeyedVectors.load_word2vec_format('googlenewsvectors/GoogleNews-vectors-negative300.bin',binary=True)

In [14]:
iphoneV = word_vectors["iphone"]
AppleV = word_vectors["Apple"]
appleV = word_vectors["apple"]

In [15]:
print(cosine_similarity([iphoneV],[AppleV]))
print(cosine_similarity([appleV],[AppleV]))

[[0.5020551]]
[[0.37867716]]

# find odd one out

In [33]:
def odd_one_out(words):
    """Accepts a list of words and returns the odd words"""
    
    # Generate all words embeddings for the given lists
    all_word_vectors = [word_vectors[w] for w in words]
    avg_vector = np.mean(all_word_vectors,axis = 0)
    #print(avg_vector.shape)
    
    #Iterate over every word and find similarity
    odd_one_out = None
    min_similarity = 1.0
    for w in words:
        sim = cosine_similarity([word_vectors[w]],[avg_vector])
        if(sim<min_similarity):
            min_similarity = sim
            odd_one_out = w
        #print("Similarity btw %s and avg vector is %.2f"%(w,sim))
        
    return odd_one_out

In [34]:
input_1 = ["apple","mango","juice","party","orange"] 
input_2 = ["music","dance","sleep","dancer","food"]

In [35]:
print(odd_one_out(input_1))
print(odd_one_out(input_2))

party
sleep

# Test Data

In [24]:
import pandas as pd

In [28]:
testdf = pd.read_csv("Test/Test.csv")

In [29]:
testdf.head(10)

      Word1      Word2    Word3      Word4     Word5
0  elephant       lion    tiger       goat     snake
1       man  policeman  fireman    teacher   postman
2     plane       bird   rocket    balloon       cat
3     onion     celery  lettuce  pineapple    potato
4     India   football   hockey    cricket  swimming
5       who        why     what      where        is
6        on         in     over      their       was
7     India  Australia    Japan     Russia     China
8    Dollar     Rupees    Euros      Cents     Money
9       eat      sleep    drink      think     dance

In [31]:
test = testdf.values
print(len(test))

20

In [37]:
pred = []
for words in test:
    pred.append(odd_one_out(words))

In [38]:
pred

['snake',
 'teacher',
 'cat',
 'pineapple',
 'India',
 'is',
 'was',
 'Australia',
 'Money',
 'think',
 'ship',
 'Rome',
 'Pool',
 'Egypt',
 'mouse',
 'helmet',
 'Universe',
 'Kill',
 'Club',
 'Sun']

In [39]:
pred = pd.DataFrame(pred , columns=["OddOne"])

In [40]:
pred.head()

      OddOne
0      snake
1    teacher
2        cat
3  pineapple
4      India

In [ ]:
pred.to_csv("Test/pred.csv")