In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [106]:
DFx = pd.read_csv("Training Data/Diabetes_XTrain.csv")
DFy = pd.read_csv("Training Data/Diabetes_YTrain.csv")
DF_TEST = pd.read_csv("Test Cases/Diabetes_Xtest.csv")
sample = pd.read_csv("Test Cases/sample_submission.csv")
diabetes = pd.read_csv("Training Data/diabetes.csv")

In [154]:
diabetes.head(5)
print(diabetes.shape)

(768, 9)

In [125]:
DF_TEST.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [81]:
print(DFx.shape)
print(DFy.shape)
print(DF_TEST.shape)

(576, 8)
(576, 1)
(192, 8)

In [199]:
train_X = np.array(diabetes.values[:730,:-1])
train_Y = np.array(diabetes.values[:730,-1]).reshape(-1,1)
TEST_X = np.array(DF_TEST.values)

print(train_X.shape)
print(train_Y.shape)
print(TEST_X.shape)

(730, 8)
(730, 1)
(192, 8)

In [190]:
print(TEST_X)

[[  0.00000000e+00   1.80000000e+02   9.00000000e+01 ...,   3.65000000e+01
    3.14000000e-01   3.50000000e+01]
 [  2.00000000e+00   9.30000000e+01   6.40000000e+01 ...,   3.80000000e+01
    6.74000000e-01   2.30000000e+01]
 [  2.00000000e+00   1.14000000e+02   6.80000000e+01 ...,   2.87000000e+01
    9.20000000e-02   2.50000000e+01]
 ...,
 [  0.00000000e+00   1.62000000e+02   7.60000000e+01 ...,   4.96000000e+01
    3.64000000e-01   2.60000000e+01]
 [  1.20000000e+01   8.40000000e+01   7.20000000e+01 ...,   2.97000000e+01
    2.97000000e-01   4.60000000e+01]
 [  0.00000000e+00   9.40000000e+01   0.00000000e+00 ...,   0.00000000e+00
    2.56000000e-01   2.50000000e+01]]

In [191]:
test_X = np.array(diabetes.values[:50,:-1])
test_Y = np.array(diabetes.values[:50,-1]).reshape(-1,1)

print(test_X.shape)
print(test_Y.shape)

(50, 8)
(50, 1)

In [192]:
DFx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [9]:
def distance(p1,p2):
    return sum((p1-p2)**2)**0.5

In [52]:
def knn(X,Y,test,k = 15):
    m = X.shape[0]
    
    d = []
    
    for i in range(m):
        dist = distance(X[i],test)
        d.append((dist,Y[i]))
        
    d = np.array(sorted(d))[:,1]
    d = d[:k]
    t = np.unique(d,return_counts=True)
    idx = np.argmax(t[1])
    pred = int(t[0][idx])
    return pred

In [53]:
knn(train_X,train_Y,test_X[45])

1

In [54]:
test_Y[45]

array([1])

In [205]:
pred = [knn(train_X,train_Y,test_X[i],10) for i in range(test_X.shape[0]) ]

In [206]:
Pred_Y = np.array(pred)
Pred_Y = Pred_Y.reshape(-1,1)
Pred_Y.shape
test_Y.shape

(50, 1)

In [63]:
(np.sum(Pred_Y == test_Y)*100)/test_Y.shape[0]

73.684210526315795

In [215]:
PRED = [knn(train_X,train_Y,TEST_X[i],3) for i in range(TEST_X.shape[0]) ]

In [216]:
result = pd.DataFrame(PRED,columns = ["Outcome"])

In [217]:
result.to_csv("Test Cases/Y_pred.csv",index=False)

In [218]:
pd.read_csv("Test Cases/Y_pred.csv").head(10)

   Outcome
0        1
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0

In [204]:
for j in range(1,40):
    pred = [knn(train_X,train_Y,test_X[i],j) for i in range(test_X.shape[0]) ]
    Pred_Y = np.array(pred).reshape(-1,1)
    print(j,(np.sum(Pred_Y == test_Y)*100)/test_Y.shape[0],sep = "-->")

1-->100.0
2-->70.0
3-->66.0
4-->66.0
5-->70.0
6-->64.0
7-->64.0
8-->62.0
9-->64.0
10-->68.0
11-->64.0
12-->66.0
13-->66.0
14-->68.0
15-->70.0
16-->66.0
17-->68.0
18-->64.0
19-->68.0
20-->70.0
21-->70.0
22-->68.0
23-->72.0
24-->66.0
25-->68.0
26-->66.0
27-->68.0
28-->64.0
29-->66.0
30-->64.0
31-->66.0
32-->64.0
33-->66.0
34-->66.0
35-->68.0
36-->68.0
37-->68.0
38-->68.0
39-->68.0