In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [5]:
df = pd.read_csv("Train (1)/Train.csv")

In [6]:
df.head(5)

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [8]:
df.shape

(1600, 6)

In [23]:
X = np.array(df.values[:,:-1])
Y = np.array(df.values[:,-1])

print(X.shape)
print(Y.shape)

(1600, 5)
(1600,)

In [35]:
ones = np.ones((X.shape[0]))
ones = ones.reshape(-1,1)
ones.shape

(1600, 1)

In [37]:
X = np.hstack((ones,X))
X[]

array([[ 1.        ,  0.29341624, -0.94559871, -0.42110515,  0.40681602,
         0.52566183],
       [ 1.        , -0.83608408, -0.18922804, -0.77640262, -1.05383124,
         0.59799685],
       [ 1.        ,  0.23642511,  0.13283602, -0.14772298,  0.69985396,
        -0.18736416],
       ...,
       [ 1.        ,  1.04417694, -0.89920649,  1.73039905, -1.87105676,
         0.44251965],
       [ 1.        , -1.2691729 , -0.00505216,  1.85766873, -1.08036482,
         0.73633394],
       [ 1.        , -1.88400025, -0.84942743, -1.45227035,  0.48861308,
         1.4595758 ]])

In [39]:
X_tr = X.T
X_tr.shape

(6, 1600)

In [40]:
first = np.linalg.pinv(np.dot(X_tr,X))

In [41]:
second = np.dot(X_tr,Y)

In [42]:
theta = np.dot(first,second)

In [44]:
theta

array([  4.99096674,  29.68187118,  92.66247759,   8.28062089,
        44.76773522,   2.51916121])

In [45]:
test = pd.read_csv("Test (1)/Test.csv")

In [46]:
test.head(5)

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [47]:
TEST = np.array(test.values)

In [51]:
Y = theta[0] + theta[1]*TEST[:,0] + theta[2]*TEST[:,1] +theta[3]*TEST[:,2] + theta[4]*TEST[:,3] + theta[5]*TEST[:,4]

In [94]:
Y.shape

(400, 1)

In [100]:
target = pd.DataFrame(Y,index = np.arange(Y.shape[0]),columns = [ "target"])

In [103]:
target.to_csv("Test (1)/Final.csv",index = True,index_label="Id")

In [104]:
pd.read_csv("Test (1)/Final.csv").head(5)

   Id      target
0   0  114.583689
1   1  118.012815
2   2  -21.739852
3   3  -43.936899
4   4  -95.914898